
body{
  margin:0;
  text-align: center;
  font-size: 100%;
}

.Profile{
  position: relative;
  top: 100px;
}
.top{
position: relative;
  padding-top: 100px;
  background-color: #e4e3e3;
}
.middle-container{
padding-top: 100px;
background-color: white;

}
h1{
  margin: 30px auto 50px auto;
  font-size: 5.625rem;
  width: 55%;
  color: #66BFBF;
  font-family: 'Great Vibes', cursive;
}
h3{
  color : #11999E;
}

.code-skill{
  clear: right;

}
.mypic{

  height: 250px;
}
p{
font-family: 'Merriweather Sans', sans-serif;
}
.chillies{
  width: 25%;
  float : left;
  margin-right: 30px;
  margin-bottom: 10px;
}
.Computer_image{
  width: 25%;margin-left: 30px;
  float : right;

}

.description{
  clear: left;
  margin-bottom: 10px;
}
h2{
  margin: 30px auto 50px auto;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.500rem;
}

.skill-row{
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 2;

}
.skills{
  text-align: center;

}


.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;


}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
